<footer>

  <div class="m-content__sponsors-partners">
    <h3>
      meet our sponsors & partners
    </h3>
    <div class="m-content__sponsors-partners__logos">
      <a href="http://www.acreativedc.com"><div class="logo-container"><%= image_tag 'logos/acreativedc.jpg' %></div></a>
      <a href="http://www.aiga.org"><div class="logo-container"><%= image_tag 'logos/aiga.png' %></div></a>
      <a href="http://www.isl.co"><div class="logo-container"><%= image_tag 'logos/isl_logo.png' %></div></a>
      <a href="http://www.andpizza.com"><div class="logo-container"><%= image_tag 'logos/&pizza.png' %></div></a>
      <a href="http://www.maketto1351.com"><div class="logo-container"><%= image_tag 'logos/maketto_logo.jpg' %></div></a>
      <a href="http://www.taylorgourmet.com"><div class="logo-container"><%= image_tag 'logos/taylor_gourmet_logo.png' %></div></a>
      <a href="http://www.localeworkspace.com"><div class="logo-container"><%= image_tag 'logos/locale.png' %></div></a>
    </div>
  </div>

  <hr>

  <div class="m-footer__sitemap">
    <div class="m-footer__menu-items">
      <ul>
        <li id="footer_events"><a target="_blank" href="https://www.meetup.com/colorcoded/events/calendar/">events</a></li>
        <li id="footer_about"><a href="/about">About</a></li>
        <li id="footer_instagram"><a target="_blank" href="http://instagram.com/wearecolorcoded"><%= render_partial 'partials/svg/insta.svg' %></a></li>
        <li id="footer_twitter"><a target="_blank" href="http://twitter.com/wearecolorcoded"><%= render_partial 'partials/svg/twitter.svg' %></a></li>
        <li id="footer_facebook"><a target="_blank" href="http://facebook.com/wearecolorcoded"><%= render_partial 'partials/svg/fb.svg' %></a></li>
      </ul>
    </div>
  </div>


  <div class="m-footer__copyright">
    <a target="_blank" href="mailto:team@wearecolorcoded.us">Get in touch.</a><br>
    Color Coded™ – All Rights Reserved - 2018
  </div>

</footer>